.custom-file-input {
    cursor: pointer;
  }

  .loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .loading-spinner {
    display: flex;
    align-items: center;
  }
  
  .loading-spinner .spinner-border {
    margin-right: 10px;
  }

  .bg-custom{
    background-color:#e9fdf3;
  }
  