<section class="wrapper">
  <div class="container-fostrap">
    <div class="mb-3"><h1 class="heading">
        Actualité sur l'école Malienne
      </h1>
    </div>
    <div class="content">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <div class="card">
              <a class="img-card" href="#">
                <img src="../assets/images/backschool.jpg" />
              </a>
              <div class="card-content">
                <h4 class="card-title">
                  <a href="#"> Rentrée scolaire 2024
                  </a>
                </h4>
                <p class="">
                  Decouvrez la date de la rentrée scolaire 2023-2024
                </p>
              </div>
              <div class="card-read-more">
                <a href="#" class="btn btn-link btn-block">
                  Lire plus
                </a>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="card">
              <a class="img-card" href="#">
                <img src="../assets/images/concours.jpg" />
              </a>
              <div class="card-content">
                <h4 class="card-title">
                  <a href="#"> Des Concours
                  </a>
                </h4>
                <p class="">
                  Decouvrez la date des prochains concours déjà prévus
                </p>
              </div>
              <div class="card-read-more">
                <a href="#" class="btn btn-link btn-block">
                  Lire plus
                </a>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="card">
              <a class="img-card" href="#">
                <img src="../assets/images/scholarship.jpg" />
              </a>
              <div class="card-content">
                <h4 class="card-title">
                  <a href="#"> Appel à candidature
                  </a>
                </h4>
                <p class="">
                  Bénéficier des bourses d'études Maroc, Algérie, France etc ...
                </p>
              </div>
              <div class="card-read-more">
                <a href="#" class="btn btn-link btn-block">
                  Lire plus
                </a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
